.navbar {
    position: fixed;     
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;              
    z-index: 1000;             
}


.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo strong{
    padding-top: 3px;
    font-weight: bolder;
    color: #f1fcff;
}

#aclc-logo{
    height: 30px;
}

.navbar div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout {
    background: none;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease;
}

.logout:hover {
    background-color: rgb(255, 75, 75);
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
    transition: all 0.5s ease;
}

.navbar a:hover {
    color:  rgb(255, 75, 75);
}

.navbar a:last-child {
    margin-right: 0;
}
