.navbar {
    position: fixed;      /* Make it absolute */
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;               /* Ensure full width */
    z-index: 1000;             /* Ensure it's above other elements */
}


.nav-logo{
    display: flex;
    align-items: center;
}

.nav-logo strong{
    padding-top: 3px;
    font-weight: bolder;
    color: #f1fcff;
}

#aclc-logo{
    height: 30px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin-right: 15px;
}

.navbar a:last-child {
    margin-right: 0;
}
